{% extends '::base.html.twig' %}
{% block body %}
    <div class="form">  
        <form id="login" class="vertical" action="{{ path('biclo_oauth2_server_security_register') }}" method="post">  
            <div class="form_title">
                OAuth Authorization
            </div>
            {% if null != error|default(null) %}
                <div class='form_error'>{{ error }}</div>
            {% endif %}

            {{ form_rest(form) }}

            <div class="form_button">
                <input type="submit" id="_submit" name="_submit" value="Register" />
            </div>
        </form>
    </div>
    {% endblock %}
